.folder-list {
    display: block;
    border: 2px solid black;
    font-family: serif;
    font-size: 2rem;
    text-align: center;
}

.insert-folder {
    color: darkblue;
    line-height: 4rem;
}

.insert-folder:hover {
    color: dodgerblue;
}

.insert-folder:active {
    color: lightskyblue;
}