.note {
    display: block;
    margin: 1rem .5rem;
    padding: 1rem .5rem;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    text-align: center;
}

.note-name {
    display: block;
    margin-bottom: 1rem;
    font-size: 2.6rem;
    text-decoration: none;
    color: black;
}

.delete-note {
    display: block;
    margin: 1rem 0 0 0;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 768px) {
    .note {
        display: flex;
        flex-wrap: wrap;
    }
    .note-name {
        text-align: left;
        width: 100%;
    }
    .modified {
        flex: 4 4 60%;
        margin: 1rem 0 0;
        padding: 0;
        text-align: left;
    }
    .delete-note {
        flex: 1 1 20%;
        margin: 0 2rem 0 0;
    }

}