@media screen and (min-width: 768px) {
    .App{
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        margin: 0 auto;
    }
    header {
        width: 100%;
    }
    nav {
        flex: 1 1 25%;
    }
    main {
        flex: 4 4 75%;
    }
}